.mini-screen-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

/* ID를 사용한 CSS 적용 */

#url-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

#go-button,
#close-button {
  padding: 5px 10px;
  cursor: pointer;
}

#go-button {
  margin-right: 10px;
}

#close-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}

#mini-iframe {
  flex-grow: 1;
  border: none;
}